@import "tailwindcss";

@font-face {
  font-family: "Neo Sans Pro Italic";
  src: url("/fonts/NeoSansProBlackIt.OTF") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("/fonts/NeoSansProBlack.OTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("/fonts/NeoSansPro-Italic.OTF") format("truetype");
  font-weight: 400;
  font-style: italic;
}

html {
  font-family: "Neo Sans Pro", sans-serif;
}







